pkgbase = airi-bin
	pkgdesc = Self-hosted AI companion application (Prebuilt version, uses system-wide electron)
	pkgver = 0.9.0_alpha.2
	pkgrel = 1
	url = https://airi.moeru.ai/docs/
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = electron40
	depends = xsel
	provides = airi=0.9.0_alpha.2
	conflicts = airi
	options = !emptydirs
	options = !strip
	source = LICENSE-0.9.0_alpha.2::https://raw.githubusercontent.com/moeru-ai/airi/v0.9.0-alpha.2/LICENSE
	source = airi.sh
	sha256sums = f334260edf0508041280b534ca9d0abd5a02a9626c1d2e20a556ac4eb72b07f9
	sha256sums = 59bcccb0397373ba69c2fdf28aee8b244e4601248cff391a79a4b18feab7bc18
	source_aarch64 = airi-0.9.0_alpha.2-aarch64.rpm::https://github.com/moeru-ai/airi/releases/download/v0.9.0-alpha.2/AIRI-0.9.0-alpha.2-linux-aarch64.rpm
	sha256sums_aarch64 = 2469617a03aac2ec6c58436b60925c3f18489d3022b1e80ebe82389edd77b876
	source_x86_64 = airi-0.9.0_alpha.2-x86_64.rpm::https://github.com/moeru-ai/airi/releases/download/v0.9.0-alpha.2/AIRI-0.9.0-alpha.2-linux-x86_64.rpm
	sha256sums_x86_64 = d398ae9c3cfa57d5ffbbdfd407673349038510233d95c7953e58ddd8d8d4c49f

pkgname = airi-bin
