pkgbase = airi-bin
	pkgdesc = Self-hosted AI companion application (Prebuilt version, uses system-wide electron)
	pkgver = 0.9.0_alpha.1
	pkgrel = 1
	url = https://airi.moeru.ai/docs/
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = electron40
	depends = xsel
	provides = airi=0.9.0_alpha.1
	conflicts = airi
	options = !emptydirs
	options = !strip
	source = LICENSE-0.9.0_alpha.1::https://raw.githubusercontent.com/moeru-ai/airi/v0.9.0-alpha.1/LICENSE
	source = airi.sh
	sha256sums = f334260edf0508041280b534ca9d0abd5a02a9626c1d2e20a556ac4eb72b07f9
	sha256sums = 59bcccb0397373ba69c2fdf28aee8b244e4601248cff391a79a4b18feab7bc18
	source_aarch64 = airi-0.9.0_alpha.1-aarch64.rpm::https://github.com/moeru-ai/airi/releases/download/v0.9.0-alpha.1/AIRI-0.9.0-alpha.1-linux-aarch64.rpm
	sha256sums_aarch64 = eaa6015a68d140ee9301277417632f4b0d7928019a924f603dc0709a6c7a82b9
	source_x86_64 = airi-0.9.0_alpha.1-x86_64.rpm::https://github.com/moeru-ai/airi/releases/download/v0.9.0-alpha.1/AIRI-0.9.0-alpha.1-linux-x86_64.rpm
	sha256sums_x86_64 = 0b8a51fe086cd31d7a847ee490e13fcdf5db3e952ea2e9186e2b975c2c761949

pkgname = airi-bin
